<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="/admin/css/font-face.css" rel="stylesheet" media="all">
    <link href="/admin/vendor/fontawesome-7.0.1/css/all.min.css" rel="stylesheet" media="all">
    <link href="/admin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/admin/vendor/bootstrap-5.3.8.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/admin/css/aos.css" rel="stylesheet" media="all">
    <link href="/admin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/admin/css/swiper-bundle-11.2.10.min.css" rel="stylesheet" media="all">
    <link href="/admin/vendor/perfect-scrollbar/perfect-scrollbar-1.5.6.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/admin/css/theme.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <script src="https://cdn.ckeditor.com/ckeditor5/12.0.0/classic/ckeditor.js"></script>
</head>

<body>
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="/admin/images/icon/logo.png" alt="CoolAdmin">
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>          
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="/admin/images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">

                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                           
                        </ul>
                        <li class="active has-sub">
                          <a href="/admin"> <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                                </li>
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Orders</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/admin/orders_list/pending">Pending</a>
                                </li>
                                <li>
                                    <a href="/admin/orders_list/dispatched">Dispatched</a>
                                </li>
                                <li>
                                    <a href="/admin/orders_list/delivered">Delivered</a>
                                </li>
                                <li>
                                    <a href="/admin/orders_list/cancelled">Cancelled</a>
                                </li>
                                <li>
                                    <a href="/admin/orders_list/returned">Returned</a>
                                </li>
                                <li>
                                    <a href="/admin/orders_list/rejected">Rejected</a>
                                </li>
                            </ul>

                        <li>
                            <a href="/admin/about">
                                <i class="far fa-check-square"></i>About company</a>
                        </li>
                        <li>
                            <a href="/admin/slider">
                                <i class="far fa-check-square"></i>Slider</a>
                        </li>
                        <li>
                            <a href="/admin/category">
                                <i class="far fa-check-square"></i>Category</a>
                        </li>

                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Product <i class="fas fa-caret-down"></i></a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/admin/add_product">Add Product</a>
                                </li>
                                <li>
                                    <a href="/admin/product_list">Product List</a>
                                </li>
                            </ul>
                        </li>


                    </ul>
                </nav>
            </div>
        </aside>


        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">

            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">