<%-include("navbar.ejs")%>


 <div class="container-fluid">
     <div class="row">
        <div class="col-md-12">
      <div class="bg-white p-4">
    <h2>Update Categary</h2>
   
    
    <form action="/admin/categary/update" method="post" enctype="multipart/form-data">
       
    <input type="hidden" name="categary_id" value="<%= categary[0].categary_id%>">

        <div class="row">
        <div class="col-md-8">
        <label class="fw-bold">Title</label>
        <input type="text" name="categary_name" value="<%= categary[0].categary_name%>" class="form-control">
        </div>
        <div class="col-md-4 mt-4">
        <button class="btn btn-primary">Update Categary</button>
        </div>
        </div>

        
         
    </form>
    </div>
    </div>
    </div>
</div>

<%-include("footer.ejs")%>

